html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,freesans,sans-serif;
    background-color: #c1c2bb;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header  {
    background: #333;
    width: 100%;
    display: inline-block;
    box-shadow: 0 3px 5px rgba(0,0,0,0.7);
    position: fixed;
    z-index: 3;
    flex: 0 0 auto;
}

.main-content {
    padding-top: 70px;
    width: 100%;
    flex: 1 0 auto;
}

.logo {
    float: left;
    margin-left: 15px;
}

.logo img {
    border: 0;
    height: 50px;
}

.welcome {
    float: left;
    margin-left: 30px;
    color: #ffffff;
    margin-top: 15px;
    font-size: 20px;
}

nav.menu {
    float: right;
}

.list-menu {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.menu-item {
    float: left;
}

.header-link {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 16px;
}

.header-link.active {
    background-color: #61844A;
}

.menu .menu-item a:hover {
    background-color: #111;
}

.news-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-item {
    width: 300px;
    height: 370px;
    float: left;
    padding: 8px;
    box-sizing: border-box;
}

.item-content {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

.item-content:hover {
    box-shadow: 0 5px 7px rgba(0,0,0,0.6);
}

.item-content .text-content {
    position: absolute;
    top: 155px;
    background: #f5f6ef;
    height: 200px;
}

.item-content .teaser-image {
    width: 100%;
    min-height: 155px;
    max-height: 350px;
}

.text-content h1 {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.news-body {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.news-links {
    list-style: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.news-links li {
    float: left;
    padding-left: 20px;
}

.news-link, .archive-link {
    text-decoration: none;
    color: #767676;
    cursor: pointer;
}

footer {
    background: #333;
    color: #999999;
    font-size: 12px;
    padding: 15px;
    text-align: center;
    float: left;
    width: 100%;
    flex: 0 0 auto;
}

.user-form {
    width: 100%;
    text-align: center;
}

.user-form {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.signup-list {
    padding: 0;
}

.form-field {
    list-style: none;
    padding-bottom: 10px;
    position: relative;
}

.form-input {
    border-radius: 4px;
    font-size: inherit;
    width: 100%;
    height: 42px;
    border: 1px solid rgba(0,0,0,0.1);
    text-indent: 0.5em;
}

.form-button {
    height: 40px;
    line-height: 40px;
    border: 1px solid #414858;
    width: 100%;
    background-color: #0e65fb;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.form-button:hover {
    background-color: #288cfb;
}

.message {
    text-align: center;
    color: #198627;
    font-weight: bold;
    font-size: 120%;
}

.error-message {
    text-align: center;
    color: #d13029;
    font-weight: bold;
    font-size: 120%;
}

.user-list {
    margin: 20px;
}

.user-list-head, .user-list-body {
    border: 1px solid gray;
    padding: 5px;
}

.noshow {
    display: none;
}

.menu-buttons {
    width: 100%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 5;
}

.menu-buttons.news {
    background: #476;
}

.menu-buttons.archive {
    background: #C06F69;
}

.news-list-menu {
    float: right;
    margin: 0;
}

.menu-link {
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 16px;
}

.menu-link.news:hover {
    background-color: #25463b;
}

.menu-link.archive:hover {
    background-color: #6a1712;
}

.music-control {
    position: fixed;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
    border: 0;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.music-control.pause {
    background: url("images/play.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
 }
.music-control.play {
    background: url("images/pause.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.loading {
    width: 100%;
    text-align: center;
    height: 400px;
}

.loading-image {
    padding-top: 150px;
    border: 0;
    height: 100px;
}