body {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,freesans,sans-serif;
    background-color: #c1c2bb;
}

.header  {
    background: #333;
    width: 100%;
    display: inline-block;
}

.logo {
    float: left;
    margin-left: 15px;
}

.logo img {
    border: 0;
    height: 50px;
}

nav.menu {
    float: right;
}

.list-menu {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.menu-item {
    float: left;
}

.header-link {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 16px;
}

.menu-item a:hover {
    background-color: #111;
}

.news-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-item {
    width: 300px;
    height: 370px;
    float: left;
    padding: 8px;
    box-sizing: border-box;
}

.item-content {
    width: 100%;
    height: 100%;
    position: relative;
    background: #f5f6ef;
}

.item-content:hover {
    background: #ffffff;
}

.item-content .teaser-image {
    width: 100%;
    height: 155px;
}

.item-content h1 {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
}

.item-content .news-body {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.item-content .archive-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #767676;
    font-size: 12px;
}

.footer {
    background: #333;
    color: #999999;
    font-size: 12px;
    padding: 15px;
    text-align: center;
    float: left;
    width: 100%;
}

.user-form {
    width: 100%;
    text-align: center;
}

.signup-form {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.signup-form ul {
    padding: 0;
}

.form-field {
    list-style: none;
    padding-bottom: 10px;
    position: relative;
}

.form-field input {
    border-radius: 4px;
    font-size: inherit;
    width: 100%;
    height: 42px;
    border: 1px solid rgba(0,0,0,0.1);
    text-indent: 0.5em;
}

.form-field button {
    height: 40px;
    line-height: 40px;
    border: 1px solid #414858;
    width: 100%;
    background-color: #0e65fb;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.form-field button:hover {
    background-color: #288cfb;
}

.signup-message {
    text-align: center;
    margin: 20px;
    color: #198627;
    font-weight: bold;
    font-size: 120%;
}

.signup-message a {
    color: #224A27;
}

.user-list {
    margin: 20px;
}

.user-list th,.user-list td {
    border: 1px solid gray;
    padding: 5px;
}