body {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,freesans,sans-serif;
    background-color: #c1c2bb;
}

.header  {
    background: #333;
    width: 100%;
    display: inline-block;
    box-shadow: 0 3px 5px rgba(0,0,0,0.7);
}

.logo {
    float: left;
    margin-left: 15px;
}

.logo img {
    border: 0;
    height: 50px;
}

.welcome {
    float: left;
    margin-left: 30px;
    color: #ffffff;
    margin-top: 15px;
    font-size: 20px;
}

nav.menu {
    float: right;
}

.list-menu {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.menu-item {
    float: left;
}

.header-link {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 16px;
}

.menu .menu-item a:hover {
    background-color: #111;
}

.news-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-item {
    width: 300px;
    height: 370px;
    float: left;
    padding: 8px;
    box-sizing: border-box;
}

.item-content {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

.item-content:hover {
    box-shadow: 0 5px 7px rgba(0,0,0,0.6);
}

.item-content .text-content {
    position: absolute;
    top: 155px;
    background: #f5f6ef;
    height: 200px;
}

.item-content .teaser-image {
    width: 100%;
    min-height: 155px;
}

.text-content h1 {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.text-content .news-body {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.text-content .news-links {
    list-style: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.text-content .news-links li {
    float: left;
    padding-left: 20px;
}

.text-content .news-link {
    text-decoration: none;
    color: #767676;
    cursor: pointer;
}

.text-content .archive-checkbox {
}

.footer {
    background: #333;
    color: #999999;
    font-size: 12px;
    padding: 15px;
    text-align: center;
    float: left;
    width: 100%;
}

.user-form {
    width: 100%;
    text-align: center;
}

.signup-form {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.signup-list {
    padding: 0;
}

.form-field {
    list-style: none;
    padding-bottom: 10px;
    position: relative;
}

.form-input {
    border-radius: 4px;
    font-size: inherit;
    width: 100%;
    height: 42px;
    border: 1px solid rgba(0,0,0,0.1);
    text-indent: 0.5em;
}

.form-button {
    height: 40px;
    line-height: 40px;
    border: 1px solid #414858;
    width: 100%;
    background-color: #0e65fb;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.form-button:hover {
    background-color: #288cfb;
}

.message {
    text-align: center;
    margin: 20px;
    color: #198627;
    font-weight: bold;
    font-size: 120%;
}

.error-message {
    text-align: center;
    margin: 20px;
    color: #d13029;
    font-weight: bold;
    font-size: 120%;
}

.user-list {
    margin: 20px;
}

.user-list-head, .user-list-body {
    border: 1px solid gray;
    padding: 5px;
}

.noshow {
    display: none;
}

.news-archive-buttons {
    background: #476;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 5;
}

.archive-list-menu {
    float: right;
}

.save-selected, .cancel-saving {
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 16px;
}

.save-selected:hover, .cancel-saving:hover {
    background-color: #25463b;
}